  /* Estilos para la barra de navegación */
.navbar {
    background-color: black;
    overflow: hidden;
}

/* Estilos para los botones de la barra de navegación */
.navbar a {
float: left;
display: block;
color: beige;
text-align: center;
padding: 14px 16px;
text-decoration: none;
margin: 5px;
border-radius: 50px;
transition: padding 0.3s; 
}


/* Cambia el color de fondo de los botones al pasar el ratón por encima */
.navbar a:hover {
padding: 14px 20px; 
    background-color: lightgreen ;
    color: black;
}